.animal-card {
    width: 200px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.animal-card img {
    width: 100px;
}

.animal-card .name {
    font-weight: bold;
    text-transform: uppercase;
}