header {
    height: 40px;
    position: fixed;
    background-color: black;
    color: gold;
    width: 100%;
    top: 0;
    font-size: 2 rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
}